<h1>Welcome to One Month Rails</h1>
<p>
	You've found the page for the 
	<!-- <a href="http://localhost:3000">One Month Rails</a> -->
	<%= link_to "One Month Rails","http://localhost:3000" %>	
	application.

</p>
<p>

	<%= link_to "Sign Up Now!","#{}" %>	

</p>

